<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>
</head>
<body>
    <h1>My Services Page, Janine Dalisay</h1>

    <a href="/about">about</a>
    <a href="/contact">contacts</a>
    <a href="/portfolio">portfolio</a>
    <a href="/">home</a>
</body>
</html>